* {
  box-sizing: border-box;
}

body {
  background-color: #17181f;
  color: #ddd;
}

form {
  border: 3px solid;
  padding: 0.25rem;
  border-radius: 0.75rem;
}

input[type="text"] {
  padding: 0 0.5rem;
  background: transparent;
  outline: none;
}
